@import './_colors.scss';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

// Mobile font-size adjustment
html{
  font-size: 90%;
}

@media(min-width:60em){
  html{
    font-size: 100%;
  }
}

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $blue;
  color: $white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%
}

h4 {
  font-size: 150%;
}

a, button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

button:focus, input:focus {
  outline: none;
}