@import '../_colors.scss';

.game-button {
  background-color: transparent;
  border: 0px;
  border-bottom: 10px solid $dark-blue;
  border-right: 10px solid $dark-blue;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 400%;
  font-weight: 700;
  height: 100px;
  padding: 0px;
  width: 32%;
  &:nth-child(3n+3) {
    border-right: 0px solid $dark-blue;
  }
  &:nth-child(1n+7) {
    border-bottom: 0px solid $dark-blue;
  }
  .x {
    color: #000;
  }
  .o {
    color: #fff;
  }
  @media (min-width: 992px) {
    border-bottom: 15px solid $dark-blue;
    border-right: 15px solid $dark-blue;
    font-size: 800%;
    height: 180px;
  }
}