@import '../_colors.scss';

.players-form {
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  legend {
    font-size: 80%;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    @media (min-width: 992px) {
      font-size: 120%;
    }
  }
}

.start-game-button {
  background-color: lighten($blue, 20%);
  border: 0px;
  color: $dark-blue;
  display: block;
  font-size: 100%;
  margin: 15px auto 10px;
  padding: 10px 20px;
  &:hover {
    background-color: lighten($blue, 40%);
  }
}
