@import '../_colors.scss';

$input-height: 50px;

.player-input {
  display: block;
  margin: 0px 5px 10px;
  // width: 50%;
  label {
    background-color: #fff;
    border-radius: 4px 0px 0px 4px;
    color: $blue;
    display: inline-block;
    height: $input-height;
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    font-weight: 700;
    line-height: $input-height;
    padding: 0px 10px;
    width: 15%;
  }
  input[type="text"] {
    border: 0px;
    border-radius: 0px 4px 4px 0px;
    color: $dark-blue;
    display: inline-block;
    font-size: 200%;
    height: $input-height;
    width: 85%;
  }
  &.inactive label, &.inactive input {
    opacity: 0.5;
  }
  @media (min-width: 992px) {
    display: inline-block;
    width: auto;
  }
}